<div ng-controller="MainController">
    <div>
        Word: <input type="text" ng-model=word>
        Translation: <input type="text" ng-model=translation>
        <input type="button" ng-click="addWord()" value="add">
    </div>
    <br>
    <div>
        <select ng-model="selectLanguage" ng-options="type for type in testTypes">
        </select>
        <input type="button" ng-click="startTest()" value="test">
    </div>
    <br>
    <div>
        <input type="button" ng-click="viewStatistic()" value="statistic">
        <input type="button" ng-click="uploadWords()" value="upload to file">
        <input type="button" ng-click="downloadWords()" value="download from file">
    </div>

</div>