<div ng-controller="TestController">
    <div>
        {{label}}
    </div>
    <br>
    <div>
        <input type="button" ng-click="checkWords(labels[0])" ng-value="labels[0]">
        <input type="button" ng-click="checkWords(labels[1])" ng-value="labels[1]">
        <input type="button" ng-click="checkWords(labels[2])" ng-value="labels[2]">
        <input type="button" ng-click="checkWords(labels[3])" ng-value="labels[3]">
        <input type="button" ng-click="checkWords(labels[4])" ng-value="labels[4]">
    </div>
    <br>
    <div>
        <input type = "button" ng-click="goHome()" value="go home">
    </div>

</div>

