<div ng-controller="TestController">

    <div>
        word: {{word}}

    </div>

    <div>
        <input type="button" ng-click="checkWords(translations[0])" ng-value="translations[0]">
        <input type="button" ng-click="checkWords(translations[1])" ng-value="translations[1]">
        <input type="button" ng-click="checkWords(translations[2])" ng-value="translations[2]">
        <input type="button" ng-click="checkWords(translations[3])" ng-value="translations[3]">
        <input type="button" ng-click="checkWords(translations[4])" ng-value="translations[4]">
    </div>

    <div>
        <input type = "button" ng-click="goHome()" value="go home">
    </div>

</div>

