<div ng-controller="TestController">
    <!--<input type="button" ng-click="getRandomWords()" value="get">-->
    <div>
        word: {{word}}
    </div>
    <div>
        translation: <input type="text" ng-model=in_translation>
    </div>
    <div>
        <input type="button" ng-click="nextWord()" value="next">
    </div>
    <div>
        <input type="button" ng-click="checkWord()" value="check">
        <input type="button" ng-click="checkWord()" value="check">
        <input type="button" ng-click="checkWord()" value="check">
        <input type="button" ng-click="checkWord()" value="check">
        <input type="button" ng-click="checkWord()" value="check">
    </div>
</div>

