<div ng-controller="MainController">
    <div>
        username: <input type="text" ng-model="username_reg">
    </div>
    <div>
        password: <input type="text" ng-model="password_reg">
    </div>
    <div>
        <input type="button" ng-click="reg()" value="Register">
    </div>
    <div>
        username: <input type="text" ng-model="username">
    </div>
    <div>
        password: <input type="text" ng-model="password">
    </div>
    <div>
        <input type="button" ng-click="login()" value="Login">
    </div>
</div>